*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #f5f5f5;
    font-size:1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 
footer div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
       
}
 
.header-1{
    color:#b83f45;
    font-size:3em;
    padding:10px 0px;
    /* font-size:80px; */
    /* font-weight: normal; */
}
 
#input-box{
 
   
    height: 65px;
    width: 500px;
    padding: 0px 16px 0px 16px;
    padding: 0px 16px 0px 16px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 15px rgba(184, 63, 69, 0.5);
    border-color: #b83f45;
    /* background-color: rgba(184, 63, 69, 0.5); */
    margin-bottom:50px;
    font-size:1.5em;
    text-align: center;
}
 
.box{
    font-size:1.5em;
    background-color: rgba(184, 63, 69, 0.5);
    font-size:30px;
    text-align: left;
    height:49px;
    color: white;
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
    font-size: 16px;
    list-style-type: none;
 
}
 
footer{
    font-size: 0.8em;
}
 
.toDoList {
    width: 532px;
    height: auto;  /* Automatically adjust height based on content */
    border: none;
    padding: 2px 16px 2px 16px;
    border-radius: 5px;
    margin-top: 10px;
    display: none;
    box-shadow: 0 0 15px rgba(184, 63, 69, 0.5);
    border-color: #b83f45;
    /* background-color: rgba(184, 63, 69, 0.5); */
    margin-bottom:50px;
    font-size:1.5em;
    text-align: center;
    box-sizing: border-box;
  }
 
  .navi{
    width: 532px;
    border:1px solid rgba(184, 63, 69, 0.5);
  }
  .navi ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .navi ul li {
    list-style-type: none;
    padding:3px 7px;
    margin:5px 7px;
    border-radius: 3px;
  }
 
ul:nth-child(1){
    align-items: start;
}
 
  .navi ul li:hover {
    border:1px solid #b83f45;
  }
 
 